* { 
    box-sizing: border-box; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error {
    color: red;
}

.logout {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    float: right;
}

.main-nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.main-nav li {
    display: inline-block;
    margin: 0px;
}

.main-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.main-nav a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(200,200,200)
}

.container {
    border: 1px solid black;
    width: 800px;
    margin: 25px auto;
    padding: 10px;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    width: 100%;
    display: block;
}
.form-control input[type="text"], 
.form-control input[type="password"], 
.form-control input[type="submit"] {
    padding: 10px;
    width: 100%;
}

.myTable {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

.myTable th, .myTable td {
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}
.myDIV {
  display: none;
}
